.category {
  width: 100%;
  height: 100%;
  > div {
    width: 100%;
    margin-bottom: 10px;
  }
  .category_content {
    > div {
      background: var(--content-bg-color);
      border: 1px solid var(--border-bg-color);
    }
    .category_top {
      text-align: center;
      line-height: 50px;
      margin-bottom: 10px;
      b {
        color: #ff0055;
        font-size: 16px;
      }
    }
    .category_title {
      display: flex;
      flex-wrap: wrap;
      span {
        line-height: 30px;
        font-size: 16px;
        padding: 0 5px;
      }
    }
    .show {
      color: #ff0055;
    }
  }
}
