.tags {
  width: 100%;
  height: 100%;
}

.tags > div {
  width: 100%;
  margin-bottom: 10px;
}

.tags .tag_content > div {
  background: var(--content-bg-color);
  border: 1px solid var(--border-bg-color);
  margin-bottom: 10px;
}

.tags .tag_content .tag_top {
  text-align: center;
  line-height: 50px;
}

.tags .tag_content .tag_top b {
  color: #ff0055;
  font-size: 16px;
}

.tags .tag_content .tag_middle h3 {
  color: var(--text-color);
  padding: 0 5px;
  border-bottom: 1px solid var(--border-bg-color);
  line-height: 50px;
  font-size: 20px;
}

.tags .tag_content .tag_middle div {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
}

.tags .tag_content .tag_middle div a {
  padding: 0 5px;
}

.tags .tag_content .tag_middle .show {
  color: #ff0055;
  border: 1px solid #ff0055;
}

.tags .tag_content .tag_bottom .tag_items {
  width: 100%;
}

.tags .tag_content .tag_bottom .tag_items h3 {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.tags .tag_content .tag_bottom .tag_items h3 > :nth-child(2) {
  color: #999;
}

.tags .tag_content .tag_bottom .tag_items dl {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.tags .tag_content .tag_bottom .tag_items dl dt {
  width: 20%;
  height: 100%;
}

.tags .tag_content .tag_bottom .tag_items dl dt img {
  width: 100%;
  height: 100%;
}

.tags .tag_content .tag_bottom .tag_items dl dd {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags .tag_content .tag_bottom .tag_items dl dd p {
  line-height: 30px;
}

.tags .tag_content .tag_bottom .tag_items dl dd > :nth-child(2) {
  align-items: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tags .tag_content .tag_bottom .tag_items dl dd > :nth-child(2) span {
  margin: 0 5px;
}

a:hover {
  color: red;
}
