.tags {
  width: 100%;
  height: 100%;
  > div {
    width: 100%;
    margin-bottom: 10px;
  }
  .tag_content {
    > div {
      background: var(--content-bg-color);
      border: 1px solid var(--border-bg-color);
      margin-bottom: 10px;
    }
    .tag_top {
      text-align: center;
      line-height: 50px;
      b {
        color: #ff0055;
        font-size: 16px;
      }
    }
    .tag_middle {
      h3 {
        color: var(--text-color);
        padding: 0 5px;
        border-bottom: 1px solid var(--border-bg-color);
        line-height: 50px;
        font-size: 20px;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        margin: 5px 10px;
        a {
          padding: 0 5px;
        }
      }
      .show {
        color: #ff0055;
        border: 1px solid #ff0055;
      }
    }
    .tag_bottom {
      .tag_items {
        width: 100%;
        h3 {
          padding-left: 10px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
          border-bottom: 1px solid #ccc;
          > :nth-child(2) {
            color: #999;
          }
        }
        dl {
          width: 100%;
          height: 150px;
          display: flex;
          align-items: center;
          margin-left: 10px;
          dt {
            width: 20%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          dd {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
              line-height: 30px;
            }
            > :nth-child(2) {
              align-items: flex-end;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              span{
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}
a:hover{
   color: red;
}



