.particulars {
  .par_title {
    height: 70px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
  }
  .pars {
    background-color: var(--content-bg-color);
    padding-bottom: 10px;
    img {
      padding: 20px;
      width: 100%;
    }
    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .par_children {
      width: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      .par_children_item {
        padding: 0 10px;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        line-height: 50px;
        font-size: 16px;
        .control_item_show {
          display: none;
        }
      }
      .par_children_item:hover {
        color: #ff0055;
        background: #f1f1f1;
      }
      .par_children_item:hover .control_item_show {
        display: block;
      }
    }
  }

  .par_right {
    padding: 10px;
    background: var(--content-bg-color);
    div {
      h3 {
        line-height: 40px;
      }
      dl {
        display: flex;
        align-items: center;

        dt {
          margin-right: 10px;
          img {
            width: 150px;
            height: 100px;
          }
        }
        dd {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #666;
          >:nth-child(2){
            display: flex;
            align-items: center;
            b{
              span{
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}
