.pars {
  background-color: var(--content-bg-color);
  width: 100%;
}

.pars h3 {
  line-height: 50px;
}

.pars > div {
  text-align: center;
  line-height: 30px;
  width: 100%;
  border-radius: var(--border-radius);
  margin: 1rem auto;
  overflow: hidden;
}

.pars > div img {
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  object-fit: cover;
}

.par_right {
  margin-top: 10px;
  background-color: var(--content-bg-color);
}

.par_right .par_item {
  border-bottom: 1px solid var(--border-bg-color);
}

.par_right .par_item h3 {
  display: flex;
  align-items: center;
}

.par_right .par_item h3 span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.par_right .par_item h3 b {
  color: #999;
  font-size: 14px;
}

.par_right .par_item dl {
  margin: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.par_right .par_item dl dt {
  width: 50%;
  height: 100px;
  margin-right: 5px;
}

.par_right .par_item dl dt img {
  width: 100%;
  height: 100px;
}

.par_right .par_item dl dd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 30px;
}

.par_right .par_item dl dd > :nth-child(2) {
  display: flex;
  align-items: center;
}

.par_right .par_item dl dd > :nth-child(2) b {
  margin-right: 10px;
}
