.recommendToReading {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-bg-color);
  margin-bottom: 10px;
  h4 {
    color: var(--text-color);
    font-weight: bold;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--border-bg-color);
  }
  ul {
    width: 100%;
    li {
      width: 100%;
      line-height: 20px;
      padding: 5px 0;
      > a {
        display: inline-block;
        padding-left: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        span {
          padding-left: 10px;
        }
      }
    }
  }
}
