.comment-inp {
  width: 100%;
  background: #fff;
  background-color: var(--content-bg-color);
  textArea{
    background-color: var(--content-bg-color);
  }
  textArea{
    color:var(--text-color)
  }
  .comment-action {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.emoji {
  width: 30rem;
  height: 10rem;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 9999;
  background: #fff;
  color:#000
}
