.tagTitle {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-bg-color);
  
  h4 {
    padding: 0 20px;
    color: var(--text-color);
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--border-bg-color);
  }
  .tagTitle-content {
    padding: 0 10px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .tagTitle-item {
      border: 1px solid #ccc;
      padding: 0 5px;
      margin: 5px;
      line-height: 30px;
    }
    .tagTitle-item:hover {
      border: 1px solid #ff0055;
    }
    .tagTitle-item:hover a {
      color: #ff0055;
    }
  }
}
