.search {
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  left: 0;
  top: 0;
  .main {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    background: var(--content-bg-color);
    padding: 0 1rem;
    position: absolute;
    top:10%;
    left: 50%;
    margin-left: -35%;
    h3{
      line-height: 50px;
      font-size: 30px;
    }
    .search-esc {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      font-size: 18px;
      color: var(--text-color);
     
    }
    .search-inp{
      width: 100%;
      display: flex;
    margin-bottom: 1rem;

      .ant-input-search, .ant-input-wrapper {
        width: 100%;
        height: 3rem;
        input{
          width: 100%;
          height: 100%;
        }
      }
      button{
        height: 100%;
        width: 3rem;
      }
    }
    .search_content{
      display: flex;
      flex-direction: column;
      line-height: 40px;
    }
    .search_content:hover{
      color:#ff0055;
    }
  }
  
}