@charset "UTF-8";
a {
  color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: 50px;
}

.detail_content {
  width: 100%;
}

.articleDetail {
  position: relative;
}

.articleDetail h2 {
  text-align: center;
  line-height: 50px;
}

.articleDetail .detail {
  width: 100%;
  background-color: var(--content-bg-color);
  color: var(--text-color);
}

.articleDetail .detail .detail_cover {
  width: 100%;
}

.articleDetail .detail .detail_cover img {
  width: 100%;
}

.articleDetail .detail h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}

.articleDetail .detail h3 i {
  color: #999;
  font-size: 16px;
}

.articleDetail .detail .markdown {
  width: 98%;
  margin: 0 auto;
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.2px;
  color: var(--text-color);
}

.articleDetail .detail .markdown h1,
.articleDetail .detail .markdown h2,
.articleDetail .detail .markdown h3,
.articleDetail .detail .markdown h4,
.articleDetail .detail .markdown h5,
.articleDetail .detail .markdown h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: inherit;
}

.articleDetail .detail .markdown h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.articleDetail .detail .markdown h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
}

.articleDetail .detail .markdown h3 {
  font-size: 18px;
  padding-bottom: 0;
}

.articleDetail .detail .markdown h4 {
  font-size: 16px;
}

.articleDetail .detail .markdown h5 {
  font-size: 15px;
}

.articleDetail .detail .markdown h6 {
  margin-top: 5px;
}

.articleDetail .detail .markdown p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}

.articleDetail .detail .markdown img {
  max-width: 100%;
}

.articleDetail .detail .markdown hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 32px;
  margin-bottom: 32px;
}

.articleDetail .detail .markdown a {
  text-decoration: none;
  color: #0269c8;
  border-bottom: 1px solid #d1e9ff;
}

.articleDetail .detail .markdown a:active,
.articleDetail .detail .markdown a:hover {
  color: #275b8c;
}

.articleDetail .detail .markdown blockquote {
  color: #666;
  padding: 1px 23px;
  margin: 22px 0;
  border-left: 4px solid #cbcbcb;
  background-color: #f8f8f8;
}

.articleDetail .detail .markdown blockquote:after {
  display: block;
  content: '';
}

.articleDetail .detail .markdown blockquote > p {
  margin: 10px 0;
}

.articleDetail .detail .markdown ul {
  list-style-type: disc;
}

.articleDetail .detail .markdown ul ul {
  list-style-type: square;
}

.articleDetail .detail .markdown ol,
.articleDetail .detail .markdown ul {
  padding-left: 28px;
}

.articleDetail .detail .markdown ol li,
.articleDetail .detail .markdown ul li {
  margin-bottom: 0;
  list-style: inherit;
}

.articleDetail .detail .markdown ol ol,
.articleDetail .detail .markdown ol ul,
.articleDetail .detail .markdown ul ol,
.articleDetail .detail .markdown ul ul {
  margin-top: 3px;
}

.articleDetail .detail .markdown ol li {
  padding-left: 6px;
}

.articleDetail .detail .markdown .task-list-item {
  list-style: none;
  min-height: 22px;
  padding-left: 24px;
  border: 0;
  margin-left: -24px;
}

.articleDetail .detail .markdown .task-list-item > input::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s;
  border-collapse: separate;
}

.articleDetail .detail .markdown .task-list-item > input:checked::before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  background: #ff0055;
}

.articleDetail .detail .markdown .task-list-item > input::after {
  content: ' ';
  position: absolute;
  left: 6.571429px;
  top: 6.142857px;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transform: rotate(45deg) scale(0);
  opacity: 0;
}

.articleDetail .detail .markdown .task-list-item > input:checked::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.articleDetail .detail .markdown code,
.articleDetail .detail .markdown pre {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

.articleDetail .detail .markdown code {
  display: inline;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: var(--main-text-color);
  background-color: rgba(27, 31, 35, 0.05);
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
}

.articleDetail .detail .markdown pre {
  position: relative;
  max-height: 400px;
  padding-top: 30px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1em;
}

.articleDetail .detail .markdown pre::before {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(https://wipi.oss-cn-shanghai.aliyuncs.com/2020-07-12/97e4eed2-a992-4976-acf0-ccb6fb34d308.png);
  background-position: 10px 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: var(--bg-code);
  content: '';
}

.articleDetail .detail .markdown pre code {
  display: block;
  max-height: 370px;
  padding: 12px 10px;
  padding-top: 9px;
  border-radius: 0;
  color: var(--main-text-color);
  background-color: var(--bg-code);
  overflow: auto;
  overscroll-behavior: contain;
  font-size: 12px;
  margin: 0;
  white-space: pre-wrap;
}

pre {
  overflow: hidden;
}

.articleDetail .detail .markdown blockquote {
  padding: 1px 23px;
  border: 1px solid var(--border-color);
  border-left: 4px solid #cbcbcb;
  border-left: 4px solid var(--disable-text-color);
  margin: 22px 0;
  color: #666666;
  background-color: var(--bg-second);
}

.articleDetail .detail .markdown strong {
  font-weight: bold;
}

.articleDetail .detail .markdown strong::before {
  content: '「';
}

.articleDetail .detail .markdown strong::after {
  content: '」';
}

.articleDetail .detail .markdown p em {
  font-weight: normal;
}

.articleDetail .detail .markdown em {
  color: var(--text-color);
  font-style: normal;
}

.articleDetail .detail .markdown em strong {
  color: var(--text-color);
}

.articleDetail .detail .markdown img {
  display: block;
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
  margin: 20px auto;
  object-fit: contain;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.articleDetail .detail .markdown table {
  display: inline-block;
  font-size: 13px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: 1px solid var(--border-bg-color);
  border-collapse: collapse;
}

.articleDetail .detail .markdown table thead {
  background-color: var(--bg-code);
}

.articleDetail .detail .markdown table tr:nth-child(2n) {
  background-color: var(--bg-code);
}

.articleDetail .detail .markdown table th,
.articleDetail .detail .markdown table td {
  padding: 4px 50px;
  line-height: 24px;
}

.articleDetail .detail_list {
  width: 100%;
  padding: 0 10px;
  background: var(--content-bg-color);
  color: var(--text-color);
}

@media (min-width: 1400px) {
  .action {
    width: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 45%;
    margin-left: -40vw;
  }
  .action span {
    height: 50px;
    line-height: 50px;
    font-size: 26px;
  }
  .action .num {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0px;
    right: -10px;
    font-size: 12px;
    background: #ff0055;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
  }
}

@media (max-width: 1400px) {
  .action {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 999999;
    background-color: var(--content-bg-color);
  }
  .action .num {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0px;
    right: -15px;
    font-size: 12px;
    background: #ff0055;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
  }
}

.action {
  font-size: 20px;
}

.action .active {
  color: #ff0055;
}
