.category {
  background-color: var(--content-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-bg-color);
  margin-bottom: 10px;
  h4 {
    padding: 0 20px;
    color: var(--text-color);
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--border-bg-color);
  }
  div {
    width: 100%;
    p {
      height: 20px;
      
      a{
        color: var(--second-text);
        line-height: 30px;
        width: 100%;
        display: flex;
        :nth-child(1){
          width: 50%;
          padding: 0 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      span {
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        padding: 0 5px;
      }
 
    }
  }
}
