.article_item {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-bg-color);
  background-color: var(--content-bg-color);
  h4 {
    line-height: 3rem;
    font-size: 1.2rem;

    span {
      color: #666;
      font-size: 1rem;
      margin-left: 1rem;
    }
  }

  .article_cover {
    margin-bottom: 0.8rem;

    display: flex;
    align-items: flex-end;

    div {
      .cover_p {
        margin-bottom: 65px !important;
      }

      .cover_q {
        display: flex;
        align-items: center;
        margin-bottom: -4px !important;

        b {
          margin-right: 0.5rem;
          color: var(--second-text);

          svg {
            margin-right: 0.3rem;
          }
        }
      }
    }
    .cover_img {
      width: 200px;
      height: 6.5rem;
      margin-right: 10px;
    }
  }
}
