.article_item {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-bg-color);
}

.article_item h4 {
  line-height: 3rem;
  font-size: 1.2rem;
}

.article_item h4 span {
  color: #666;
  font-size: 1rem;
  margin-left: 1rem;
}

.article_item .article_cover {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: flex-end;
}

.article_item .article_cover div .cover_p {
  margin-bottom: 65px !important;
}

.article_item .article_cover div .cover_q {
  display: flex;
  align-items: center;
  margin-bottom: -4px !important;
}

.article_item .article_cover div .cover_q b {
  margin-right: 0.5rem;
  color: #666;
}

.article_item .article_cover div .cover_q b svg {
  margin-right: 0.3rem;
}

.article_item .article_cover img {
  width: 200px;
  height: 6.5rem;
  margin-right: 10px;
}
