.article{
  width: 100%;
  .article_top{
    width: 100%;
    padding: 10px;
    background-color: var(--content-bg-color);
    .swiper {
      width: 100%;
      height: 25rem;
    }
    .swiper-slide {
      text-align: center;
      font-size: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .article_tab{
    width: 100%;
    background-color: var(--content-bg-color);
    margin-top: 0.8rem;
    .article_tab_button{
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--border-bg-color);
      span{
        padding: 0 10px;
        line-height: 50px;
        font-size: 1rem;
      }
    }
    .article_content{
      width: 98%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--content-bg-color);
    }
  }
}