@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
*::selection{
  background: #f00;
  color:#fff
}
html,
body,
#root {
  width: 100%;
  background: var(--block-bg-color);
}

.empty {
  width: 100%;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

:root.light {
  --text-color: #000; /* 字体颜色 */
  --top-bg-color: #fff; /* 头部导航颜色 */
  --border-bg-color: #f1f1f1; /* 边框颜色 */
  --content-bg-color: #fff; /* 内容部分颜色 */
  --block-bg-color: #f1f1f1;
  --know-color:#9ca5b7;
  --bg-code:#f1f1f1;
  --second-text:rgba(0,0,0,0.65);
}
:root.dark {
  --block-bg-color: rgb(20, 25, 37);
  --text-color: #e1e1e1;
  --border-bg-color: #666;
  --content-bg-color: rgb(51, 58, 75);
  --bg-code:#999;
  --know-color:#8590a6;
  --second-text:hsla(0,0%,100%,0.65);
}
a {
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
} 
a:hover{
  color: #ff0055 !important;
}