

/* style={{ animation: `example1 ${(index + 1) * 0.1}s ease-out ${(index + 2) * 0.1}s backwards` }}  */

@keyframes example1 {
  0% {
    transform: translate(-60px);
    opacity: 0;
  }

  50% {
    transform: translate(-30px);
    opacity: 0.5;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes example2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  45% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.8;
  }

  55% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes example3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.archives_content {
  width: 100%;
  background: var(--content-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-bg-color);
}
.archives {
  height: auto;
}
.arc h3{
font-size: 20px;
}
.arc p {
  margin-left: 40px;
}
.arc li{
  list-style-type: disc;
  margin-left: 75px;
  line-height: 50px;
}
.arc li span {
  padding: 0 10px;
  font-weight: bold;
  font-size: 16px;
}
.arc li:hover{
  color: #ff0055;
}
.arc h3 {
  margin-left: 8%;
  color: var(--text-color);
}
.archivesTop {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(176, 179, 176) !important;
}
.archivesTop h1 {
  text-align: center;
  color: #ff0055;
  font-size: 26px;
  line-height: 40px;
}
.archivesTop h3 {
  text-align: center;
}
.archivesTop b {
  color: #ff0055;
  margin: 0 5px;
  font-size: 20px;
}
.archives>div>h2{
margin-left: 5%;
font-size: 26px;
line-height: 50px;
}
.arc b{
  display: inline-block;
  margin: 0 5px;
  font-weight: normal;
  font-size: .8rem;
}