#index {
  width: 100%;
  #top-header {
    width: 100%;
    line-height: 3.5rem;
    font-size: 1rem;
    background: var(--top-bg-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-bg-color);
    button{
      line-height: 2rem;
      padding: 0 3px;
      background: var(--background-bg-color);
      color: var(--text-color);
      outline: none;
      border: 0.1rem solid var(--border-bg-color);
      
    }
  }
  #foot{
    // opacity: 0;
    height: 4rem;
    width: 100%;
    background: var(--top-bg-color);
    color:var(--text-color);
    display: flex;
    border-top: 1px solid var(--border-bg-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    .foot_ul{
      li{
         font-size: .5rem;
         a,span,svg{
    color:var(--text-color);

         }
      }
      // .foot_ul>li>a{
      //   color: #fff;
      // }
      /* .icon:hover{ 
        color: #000 !important;
      } */
    }
  }
  #middle-content{
    min-height: 100vh;
  }
  @media (min-width: 768px){
    #wrap {
      width: 768px;
      height: 100%;
      margin: 0 auto;
    }
    #middle-content {
      width: 768px;
      margin: 10px auto;
    }
  }
  @media (max-width: 768px){
    #wrap {
      width: 95%;
      height: 100%;
      margin: 0 auto;
    }
    #middle-content {
      width: 95%;
      margin: 10px auto;
    }
  }
  @media(min-width: 992px) {
    #wrap {
      width: 970px;
      height: 100%;
      margin: 0 auto;
    }
    #middle-content {
      width: 970px;
      margin: 10px auto;
    }
    
  }
  @media(min-width: 1200px) {
    #wrap {
      width: 1140px;
      height: 100%;
      margin: 0 auto;
    }
    #middle-content {
      width: 1140px;
      margin: 10px auto;
    }
    
  }
}
