#index {
  width: 100%;
}

#index #top-header {
  width: 100%;
  line-height: 3.5rem;
  font-size: 1rem;
  background: var(--top-bg-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-bg-color);
}

#index #top-header button {
  line-height: 2rem;
  padding: 0 3px;
  background: var(--background-bg-color);
  color: var(--text-color);
  outline: none;
  border: 0.1rem solid var(--border-bg-color);
}

#index #foot {
  opacity: 0;
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

#index #foot .foot_ul {
  color: #fff;
}

#index #foot .foot_ul li {
  font-size: .5rem;
}

#index #foot .foot_ul .icon:hover {
  color: #000 !important;
}

#index #middle-content {
  min-height: 100vh;
}

@media (min-width: 768px) {
  #index #wrap {
    width: 768px;
    height: 100%;
    margin: 0 auto;
  }
  #index #middle-content {
    width: 768px;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  #index #wrap {
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }
  #index #middle-content {
    width: 95%;
    margin: 10px auto;
  }
}

@media (min-width: 992px) {
  #index #wrap {
    width: 970px;
    height: 100%;
    margin: 0 auto;
  }
  #index #middle-content {
    width: 970px;
    margin: 10px auto;
  }
}

@media (min-width: 1200px) {
  #index #wrap {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
  }
  #index #middle-content {
    width: 1140px;
    margin: 10px auto;
  }
}
